nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-align: center;
}

nav ul li {
    display: inline-block; /* Ensure the list items appear in a single line */
}

nav ul li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* nav ul li a:hover {
    background-color: #926969;
} */

nav ul li a:hover, nav ul li a:focus {
    color: #4CAF50; /* Stylish green for hover/focus */
    text-decoration: underline;
}


 .hed
 {
    color: white;
    text-align: center;

 }

 .me
 {
    width: 100%; /* Set a width */
    padding-left: auto; /* Center the element */
   
 }

 .skillsection {
    color: white;
    display: inline-block;
    padding: 20px;
}

.skillsection ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox to align items horizontally */
    flex-wrap: wrap; /* Allows wrapping if the items are too many */
}

.skillsection ul li {
    margin-right: 15px; /* Space between the items */
}


.softskills {
    color: white;
    display: inline-block;
    padding: 20px;
    margin-left: 250px;
}

.softskills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox to align items horizontally */
    flex-wrap: wrap; /* Allows wrapping if the items are too many */
}

.softskills ul li {
    margin-right: 15px; /* Space between the items */
}


.certifications {
    color: white;
    display: inline-block;
    /* padding: 20px; */
    margin-left: 33%; /* Increased from 250px to 350px to move it more to the right */
}



.row {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between the elements */
    padding: 20px;
    color: white;
}

.education, .certifications {
    flex: 1; /* Each takes up equal amount of space */
    margin-right: 20px; /* Optional, to give some space between the two columns */
}

.education ul, .certifications ul {
    list-style-type: none; /* Removes bullets from list */
}

h3 {
    margin-bottom: 10px; /* Space below the headers */
}

.back-video
{
    position:absolute;
    right: 0;
    bottom:0;
    z-index:-1;


}

@media (min-aspect-ratio:16/9)
{
    .back-video{
        width:100%;
        height: auto;

    }
}

@media (max-aspect-ratio:16/9)
{
    .back-video{
        width:auto;
        height: 100%;

    }
}